#SPDX-License-Identifier: MIT-0
---
# tasks file for ansible-role-docker

- name: Install Docker packages (docker, docker-compose, docker-buildx)
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present
  register: docker_packages_install

- name: Confirm Docker packages are installed
  command: pacman -Q docker docker-compose docker-buildx
  register: docker_packages_check
  changed_when: false
  failed_when: docker_packages_check.rc != 0

- name: Enable docker.service (do not start)
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: stopped
  when: docker_packages_check.rc == 0

- name: 'Create custom network'
  ansible.builtin.shell: "{{ item }}"
  loop:
    - '/usr/bin/systemctl start docker.service'
    - '/usr/bin/docker network create --subnet=192.168.75.0/24 dockers'
